#  .envrc -*- mode: direnv-envrc -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

# venv location
export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"
[[ -d "$UV_PROJECT_ENVIRONMENT" ]] && source "$UV_PROJECT_ENVIRONMENT/bin/activate"

# user local
PATH_add "$HOME/.local/bin"

# asdf
PATH_add "$ASDF_DATA_DIR/shims"
asdf reshim

# For JVM setup
source "$SDKMAN_DIR/bin/sdkman-init.sh"
sdk env > /dev/null

# For Android:
PATH_add "$ANDROID_HOME/cmdline-tools/latest/bin"
PATH_add "$ANDROID_HOME/platform-tools"

# For dotnet
PATH_add "$DOTNET_ROOT"
PATH_add "$DOTNET_CLI_HOME/.dotnet/tools"

# latex
PATH_add "$HOME/.local/texlive/current/bin/x86_64-linux"

# For repo-local tasks
PATH_add "$PWD/.tasks"

# h : h : h+o+o+o
export LIBRARIAN_HANDLERS=""
